<nav class="navbar navbar-expand-lg bg-light">
  <div class="d-flex col-12 justify-content-end pe-3">
    <form action="/users/logout" method="POST">
      <input type="hidden">
      <button type="submit">Logout</button>
    </form>
  </div>
</nav>
