<form action="/todos/{{todo.id}}?_method=PUT" method="POST">
  <input type="text" placeholder="Please input todo name" name="name" value="{{todo.name}}" required>
  <button type="submit">Save</button>
</form>