<div class="container">
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Email</label>
      <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Please input email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Password</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Please input password"
        name="password" required>
    </div>
    <button type="submit">Login</button>
    
    <span>No account?</span>
    <a href="/register">Register</a>
  </form>
  {{>message}}
</div>